button
  background: #ffffff
  border: 3px solid transparent
  border-radius: 30px
  box-shadow: 0 0 20px rgba(0, 0, 0, .3)
  color: #333333
  cursor: pointer
  margin: 10px 0 0
  padding: 10px 25px
  transition: background .5s

  &:focus, &:hover
    background: #333333
    color: #ffffff
    outline: 0

.readings
  margin-top: 34px
