<section class="readings">

  <!-- Wrapper for map component -->
  <div>
    <ng-container *ngIf="revealMap">
      <ss-map></ss-map>
    </ng-container>
    <button (click)="revealMap = !revealMap">{{ revealMap ? 'Hide' : 'Show' }} Map</button>
  </div>

  <!-- Wrapper for table component -->
  <div>
    <ss-table [data$]="data$" [pagination$]="pagination$" [options]="options" (filter)="onFilter($event)"
      (rowSelect)="onRowSelect($event)" (search)="onSearch($event)"></ss-table>
  </div>

</section>
