/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap')

*
  box-sizing: border-box
  font: 14px 'Questrial', sans-serif
  margin: 0
  padding: 0
