<ng-container *ngIf="data$ | async as data">
  <input [ngModel]="query" (ngModelChange)="onKeyUp($event)" placeholder="Search by 'Name' or 'Sensor Type'"
    type="text" />

  <table>
    <thead>
      <tr>
        <th *ngFor="let column of options.columns" (click)="onFilter(column)">
          {{ column.label }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="data" *ngFor="let item of data" tabindex="0" (click)="onRowSelect(item)"
        (keyup.enter)="onRowSelect(item)">
        <ng-container *ngFor="let key of options.columns">
          <td *ngIf="!key?.format" [innerText]="item[key.id] || '-'"></td>
          <td *ngIf="key?.format === 'date'" [innerText]="(item[key.id] | date:'short') || '-'"></td>
          <td *ngIf="key?.format === 'number'" [innerText]="(item[key.id] | number) || '-'"></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-container>
