$grey: #f1f1f1

input[type=text]
  background: white
  border: 1px solid #ddd
  display: block
  font: inherit
  padding: 8px
  margin: 10px auto
  max-width: 500px
  width: 100%

table
  border-collapse: collapse
  margin: 0 auto
  padding: 10px
  max-width: 1200px
  width: 100%

  th
    color: #aaaaaa
    font: inherit
    font-weight: bold

  th, td
    font-size: 13px
    padding: 20px
    text-align: left

  tr.data
    transition: transform .5s

    @media (min-width: 768px)
      &:focus
        background: #ffffff
        box-shadow: 0 0 50px rgba(0, 0, 0, .1)
        outline: 0
        transform: scale(1.1, 1.1)

      &:hover
        background: #ffffff
        box-shadow: 0 0 50px rgba(0, 0, 0, .1)
        cursor: pointer
        transform: scale(1.1, 1.1)
